name: Build and Analyze

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'oracle'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze (Maven Example)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # L'UNICO SECRET NECESSARIO QUI È IL TOKEN DI SONARCLOUD:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          # Esegui la pulizia (clean), compila (install) e lancia l'analisi (sonar:sonar)
          mvn clean install sonar:sonar 
          
          # NON devi specificare i parametri -Dsonar.organization o -Dsonar.projectKey qui, 
          # perché sono già nel tuo pom.xml!